html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  font-family: "Inter";
  // background-color: $main-bg-color;
}

main{
    min-height: 100vh;
}
